<a href="https://colab.research.google.com/github/npto04/PySpark/blob/main/PySpark_countries_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Estruturar as colunas do CSV utilizando o Struct Type

1) Renomear alguma coluna

2) Mostrar os países que possuam população maior que 10 milhões de habitantes em 2012

3) Mostrar todos os dados apenas dos países que comecem com a letra B

4) Criar uma nova coluna com a seguinte informação: Caso o país tenha mais que 1 milhão de habitantes, colocar o texto “População com mais de 1 milhão de habitantes”. Caso contrário, colocar o texto: “População com menos de 1 milhão de habitantes”

5) Mostre a soma da população no ano de 2017.

# installations & imports

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 37.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=fb176df2d2af2f8fb600176d3ffccb4171c25873e8d493b0ff35de0be3f0da39
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkConf
from pyspark.sql import functions as F
from pyspark.sql.types import StructField, StructType, StringType, IntegerType, FloatType

# criar sessao spark

In [ ]:
spark = (
    SparkSession.builder
    .master("local[3]")
    .appName("countries_dataset")
    .config("spark.ui.port", "4050")
    .getOrCreate()
)

In [ ]:
spark

# carregar dataset em dataframe

In [ ]:
path_dataset = "/content/drive/MyDrive/Datasets/countries_general_info_historical.24-10-2021.csv"

In [ ]:
esquema = (
    StructType([
                StructField("Nome",StringType()),
                StructField("NomeOriginal",StringType()),
                StructField("CodigoTelefonico", IntegerType()),
                StructField("Iso3166P1Alpha2Code",StringType()),
                StructField("Iso3166P1Alpha3Code",StringType()),
                StructField("Iso3166P1NumericCode",StringType()),
                StructField("ISNI", StringType()),
                StructField("Populacao2010", IntegerType()),
                StructField("Populacao2011", IntegerType()),
                StructField("Populacao2012", IntegerType()),
                StructField("Populacao2013", IntegerType()),
                StructField("Populacao2014", IntegerType()),
                StructField("Populacao2015", IntegerType()),
                StructField("Populacao2016", IntegerType()),
                StructField("Populacao2017", IntegerType()),
                StructField("Populacao2018", IntegerType()),
                StructField("Populacao2019", IntegerType())
    ])
)

In [ ]:
df = (
    spark
    .read
    .format("csv")
    .option("delimiter",",")
    .option("header", "true")
    .load(path=path_dataset,schema=esquema)
)

In [ ]:
df.printSchema()

root
 |-- Nome: string (nullable = true)
 |-- NomeOriginal: string (nullable = true)
 |-- CodigoTelefonico: integer (nullable = true)
 |-- Iso3166P1Alpha2Code: string (nullable = true)
 |-- Iso3166P1Alpha3Code: string (nullable = true)
 |-- Iso3166P1NumericCode: string (nullable = true)
 |-- ISNI: string (nullable = true)
 |-- Populacao2010: integer (nullable = true)
 |-- Populacao2011: integer (nullable = true)
 |-- Populacao2012: integer (nullable = true)
 |-- Populacao2013: integer (nullable = true)
 |-- Populacao2014: integer (nullable = true)
 |-- Populacao2015: integer (nullable = true)
 |-- Populacao2016: integer (nullable = true)
 |-- Populacao2017: integer (nullable = true)
 |-- Populacao2018: integer (nullable = true)
 |-- Populacao2019: integer (nullable = true)

In [ ]:
df.show()

+--------------------+--------------------+----------------+-------------------+-------------------+--------------------+-------------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+
|                Nome|        NomeOriginal|CodigoTelefonico|Iso3166P1Alpha2Code|Iso3166P1Alpha3Code|Iso3166P1NumericCode|               ISNI|Populacao2010|Populacao2011|Populacao2012|Populacao2013|Populacao2014|Populacao2015|Populacao2016|Populacao2017|Populacao2018|Populacao2019|
+--------------------+--------------------+----------------+-------------------+-------------------+--------------------+-------------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+
|              Canada|              Canada|               1|                 CA|                CAN|                 124|0000 0001 2238 5050|     34004889|     34339328|     34714222|     35082954|     35437435|     35702908|     36109487|     36545295|     37065178|     37593384|
|               Japan|                日本|              81|                 JP|                JPN|                 392|0000 0001 2364 9740|    128070000|    127833000|    127629000|    127445000|    127276000|    127141000|    126994511|    126785797|    126529100|    126264931|
|              Norway|    Kongeriket Norge|              47|                 NO|                NOR|                 578|0000 0001 2298 9524|      4889252|      4953088|      5018573|      5079623|      5137232|      5188607|      5234519|      5276968|      5311916|      5347896|
|             Ireland|                Eire|             353|                 IE|                IRL|                 372|0000 0001 2359 1198|      4560155|      4580084|      4599533|      4623816|      4657740|      4701957|      4755335|      4807388|      4867316|      4934040|
|             Hungary|        Magyarorszag|              36|                 HU|                HUN|                 348|0000 0001 2254 0380|     10000023|      9971727|      9920362|      9893082|      9866468|      9843028|      9814023|      9787966|      9775564|      9771141|
|               Spain|              Espana|              34|                 ES|                ESP|                 724|0000 0001 2324 3505|     46576897|     46742697|     46773055|     46620045|     46480882|     46444832|     46484062|     46593236|     46797754|     47133521|
|United States of ...|United States of ...|               1|                 US|                USA|                 840|0000 0001 2331 5230|    309321666|    311556874|    313830990|    315993715|    318301008|    320635163|    322941311|    324985539|    326687501|    328239523|
|             Belgium|   Koninkrijk Belgie|              32|                 BE|                BEL|                  56|               null|     10895586|     11038264|     11106932|     11159407|     11209057|     11274196|     11331422|     11375158|     11427054|     11502704|
|          Luxembourg|          Letzebuerg|             352|                 LU|                LUX|                 442|0000 0001 2192 9204|       506953|       518347|       530946|       543360|       556319|       569604|       582014|       596336|       607950|       620001|
|             Finland|               Suomi|             358|                 FI|                FIN|                 246|               null|      5363352|      5388272|      5413971|      5438972|      5461512|      5479531|      5495303|      5508214|      5515525|      5521606|
|              Sweden|             Sverige|              46|                 SE|                SWE|                 752|0000 0001 2299 7436|      9378126|      9449213|      9519374|      9600379|      9696110|      9799186|      9923085|     10057698|     10175214|     10278887|
|              Poland|Rzeczpospolita Po...|              48|                 PL|                POL|                 616|0000 0004 0471 0018|     38042794|     38063255|     38063164|     38040196|     38011735|     37986412|     37970087|     37974826|     37974750|     37965475|
|           Lithuania|             Lietuva|             370|                 LT|                LTU|                 440|0000 0001 2364 1220|      3097282|      3028115|      2987773|      2957689|      2932367|      2904910|      2868231|      2828403|      2801543|      2794137|
|               Italy| Repubblica Italiana|              39|                 IT|                ITA|                 380|0000 0001 2186 9395|     59277417|     59379449|     59539717|     60233948|     60789140|     60730582|     60627498|     60536709|     60421760|     60302093|
|         Switzerland|Schweizerische Ei...|              41|                 CH|                CHE|                 756|0000 0001 2297 4701|      7824909|      7912398|      7996861|      8089346|      8188649|      8282396|      8373338|      8451840|      8514329|      8575280|
|             Austria| Republik Osterreich|              43|                 AT|                AUT|                  40|0000 0001 2265 1953|      8363404|      8391643|      8429991|      8479823|      8546356|      8642699|      8736668|      8797566|      8840521|      8879920|
|              Greece|              Ελλάδα|              30|                 GR|                GRC|                 300|0000 0004 0555 2357|     11121341|     11104899|     11045011|     10965211|     10892413|     10820883|     10775971|     10754679|     10732882|     10717169|
|              Turkey| Turkiye Cumhuriyeti|              90|                 TR|                TUR|                 792|0000 0004 0369 9232|     72326988|     73443863|     74653016|     75928564|     77231907|     78529409|     79821724|     81101892|     82319724|     83429615|
|            Portugal|Republica Portuguesa|             351|                 PT|                PRT|                 620|0000 0001 2242 8399|     10573100|     10557560|     10514844|     10457295|     10401062|     10358076|     10325452|     10300300|     10283822|     10286263|
|             Uruguay|             Uruguay|             598|                 UY|                URY|                 858|0000 0001 2238 4648|      3359275|      3368934|      3378974|      3389439|      3400434|      3412009|      3424132|      3436646|      3449299|      3461734|
+--------------------+--------------------+----------------+-------------------+-------------------+--------------------+-------------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+
only showing top 20 rows

# 2) Mostrar os países que possuam população maior que 10 milhões de habitantes em 2012

In [ ]:
filtro_pop_maior_dez_milhoes = F.col("Populacao2012") > 10000000

In [ ]:
(df.filter(filtro_pop_maior_dez_milhoes)
.select("Nome").show())

+--------------------+
|                Nome|
+--------------------+
|              Canada|
|               Japan|
|               Spain|
|United States of ...|
|             Belgium|
|              Poland|
|               Italy|
|              Greece|
|              Turkey|
|            Portugal|
|               Egypt|
|              Mexico|
|               Kenya|
|            Ethiopia|
|               Ghana|
|              France|
|      United Kingdom|
|People's Republic...|
|              Brazil|
|              Russia|
+--------------------+
only showing top 20 rows

# 3) Mostrar todos os dados apenas dos países que comecem com a letra B

In [ ]:
(df.filter("Nome like 'B%'").show())

+--------------------+--------------------+----------------+-------------------+-------------------+--------------------+-------------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+
|                Nome|        NomeOriginal|CodigoTelefonico|Iso3166P1Alpha2Code|Iso3166P1Alpha3Code|Iso3166P1NumericCode|               Isni|Populacao2010|Populacao2011|Populacao2012|Populacao2013|Populacao2014|Populacao2015|Populacao2016|Populacao2017|Populacao2018|Populacao2019|
+--------------------+--------------------+----------------+-------------------+-------------------+--------------------+-------------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+
|             Belgium|   Koninkrijk Belgie|              32|                 BE|                BEL|                  56|               null|     10895586|     11038264|     11106932|     11159407|     11209057|     11274196|     11331422|     11375158|     11427054|     11502704|
|              Brazil|Republica Federat...|              55|                 BR|                BRA|                  76|0000 0001 2176 6679|    195713635|    197514534|    199287296|    201035903|    202763735|    204471769|    206163058|    207833831|    209469333|    211049527|
|             Belarus| Рэспубліка Беларусь|             375|                 BY|                BLR|                 112|0000 0001 2171 2080|      9490583|      9473172|      9464495|      9465997|      9474511|      9489616|      9501534|      9498264|      9483499|      9417849|
|            Bulgaria|            България|             359|                 BG|                BGR|                 100|0000 0001 2325 4108|      7395599|      7348328|      7305888|      7265115|      7223938|      7177991|      7127822|      7075947|      7025037|      6975761|
|Bosnia and Herzeg...| Bosna i Hercegovina|             387|                 BA|                BIH|                  70|               null|      3705472|      3661175|      3604972|      3542605|      3482104|      3429361|      3386267|      3351527|      3323929|      3301000|
|              Belize|              Belize|             501|                 BZ|                BLZ|                  84|0000 0001 2286 2013|       322464|       330237|       338000|       345715|       353366|       360933|       368400|       375769|       383071|       390353|
|            Barbados|            Barbados|            1246|                 BB|                BRB|                  52|0000 0001 0670 1869|       282131|       282987|       283700|       284296|       284825|       285324|       285796|       286233|       286641|       287025|
|             Bahrain|             البحرين|             973|                 BH|                BHR|                  48|0000 0004 0402 3058|      1240860|      1278151|      1299943|      1315029|      1336075|      1371851|      1425791|      1494074|      1569439|      1641172|
|             Bolivia|Estado Plurinacio...|             591|                 BO|                BOL|                  68|               null|     10048590|     10212954|     10377676|     10542376|     10706517|     10869730|     11031813|     11192854|     11353142|     11513100|
|          Bangladesh|গণপ্রজাতন্ত্রী বা...|             880|                 BD|                BGD|                  50|0000 0001 2188 6953|    147575430|    149273778|    151007807|    152764676|    154520167|    156256276|    157970840|    159670593|    161356039|    163046161|
|              Bhutan|          འབྲུག་ཡུལ་|             975|                 BT|                BTN|                  64|               null|       685503|       693298|       701583|       710238|       719056|       727876|       736709|       745568|       754394|       763092|
|              Brunei|              Brunei|             673|                 BN|                BRN|                  96|               null|       388646|       393688|       398989|       404421|       409769|       414907|       419800|       424473|       428962|       433285|
|               Benin|               Benin|             229|                 BJ|                BEN|                 204|0000 0001 2342 3987|      9199259|      9460830|      9729248|     10004588|     10286842|     10575952|     10872067|     11175204|     11485048|     11801151|
|            Botswana|            Botswana|             267|                 BW|                BWA|                  72|0000 0001 2155 4000|      1987105|      2015402|      2039551|      2062536|      2088614|      2120716|      2159944|      2205128|      2254126|      2303697|
|        Burkina Faso|        Burkina Faso|             226|                 BF|                BFA|                 854|0000 0004 0413 3505|     15605217|     16081911|     16571246|     17072775|     17586017|     18110624|     18646378|     19193284|     19751535|     20321378|
|             Burundi|            Uburundi|             257|                 BI|                BDI|                 108|0000 0001 2097 7669|      8675602|      8958406|      9245988|      9540289|      9844297|     10160030|     10487998|     10827024|     11175378|     11530580|
+--------------------+--------------------+----------------+-------------------+-------------------+--------------------+-------------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+

In [ ]:
(df.filter(F.col("Nome").startswith("B")).show())

+--------------------+--------------------+----------------+-------------------+-------------------+--------------------+-------------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+
|                Nome|        NomeOriginal|CodigoTelefonico|Iso3166P1Alpha2Code|Iso3166P1Alpha3Code|Iso3166P1NumericCode|               Isni|Populacao2010|Populacao2011|Populacao2012|Populacao2013|Populacao2014|Populacao2015|Populacao2016|Populacao2017|Populacao2018|Populacao2019|
+--------------------+--------------------+----------------+-------------------+-------------------+--------------------+-------------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+
|             Belgium|   Koninkrijk Belgie|              32|                 BE|                BEL|                  56|               null|     10895586|     11038264|     11106932|     11159407|     11209057|     11274196|     11331422|     11375158|     11427054|     11502704|
|              Brazil|Republica Federat...|              55|                 BR|                BRA|                  76|0000 0001 2176 6679|    195713635|    197514534|    199287296|    201035903|    202763735|    204471769|    206163058|    207833831|    209469333|    211049527|
|             Belarus| Рэспубліка Беларусь|             375|                 BY|                BLR|                 112|0000 0001 2171 2080|      9490583|      9473172|      9464495|      9465997|      9474511|      9489616|      9501534|      9498264|      9483499|      9417849|
|            Bulgaria|            България|             359|                 BG|                BGR|                 100|0000 0001 2325 4108|      7395599|      7348328|      7305888|      7265115|      7223938|      7177991|      7127822|      7075947|      7025037|      6975761|
|Bosnia and Herzeg...| Bosna i Hercegovina|             387|                 BA|                BIH|                  70|               null|      3705472|      3661175|      3604972|      3542605|      3482104|      3429361|      3386267|      3351527|      3323929|      3301000|
|              Belize|              Belize|             501|                 BZ|                BLZ|                  84|0000 0001 2286 2013|       322464|       330237|       338000|       345715|       353366|       360933|       368400|       375769|       383071|       390353|
|            Barbados|            Barbados|            1246|                 BB|                BRB|                  52|0000 0001 0670 1869|       282131|       282987|       283700|       284296|       284825|       285324|       285796|       286233|       286641|       287025|
|             Bahrain|             البحرين|             973|                 BH|                BHR|                  48|0000 0004 0402 3058|      1240860|      1278151|      1299943|      1315029|      1336075|      1371851|      1425791|      1494074|      1569439|      1641172|
|             Bolivia|Estado Plurinacio...|             591|                 BO|                BOL|                  68|               null|     10048590|     10212954|     10377676|     10542376|     10706517|     10869730|     11031813|     11192854|     11353142|     11513100|
|          Bangladesh|গণপ্রজাতন্ত্রী বা...|             880|                 BD|                BGD|                  50|0000 0001 2188 6953|    147575430|    149273778|    151007807|    152764676|    154520167|    156256276|    157970840|    159670593|    161356039|    163046161|
|              Bhutan|          འབྲུག་ཡུལ་|             975|                 BT|                BTN|                  64|               null|       685503|       693298|       701583|       710238|       719056|       727876|       736709|       745568|       754394|       763092|
|              Brunei|              Brunei|             673|                 BN|                BRN|                  96|               null|       388646|       393688|       398989|       404421|       409769|       414907|       419800|       424473|       428962|       433285|
|               Benin|               Benin|             229|                 BJ|                BEN|                 204|0000 0001 2342 3987|      9199259|      9460830|      9729248|     10004588|     10286842|     10575952|     10872067|     11175204|     11485048|     11801151|
|            Botswana|            Botswana|             267|                 BW|                BWA|                  72|0000 0001 2155 4000|      1987105|      2015402|      2039551|      2062536|      2088614|      2120716|      2159944|      2205128|      2254126|      2303697|
|        Burkina Faso|        Burkina Faso|             226|                 BF|                BFA|                 854|0000 0004 0413 3505|     15605217|     16081911|     16571246|     17072775|     17586017|     18110624|     18646378|     19193284|     19751535|     20321378|
|             Burundi|            Uburundi|             257|                 BI|                BDI|                 108|0000 0001 2097 7669|      8675602|      8958406|      9245988|      9540289|      9844297|     10160030|     10487998|     10827024|     11175378|     11530580|
+--------------------+--------------------+----------------+-------------------+-------------------+--------------------+-------------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+

# 4) Criar uma nova coluna com a seguinte informação: Caso o país tenha mais que 1 milhão de habitantes, colocar o texto “População com mais de 1 milhão de habitantes”. Caso contrário, colocar o texto: “População com menos de 1 milhão de habitantes”

In [ ]:
df2 = (df.withColumn("PopulacaoStatus", 
                     F.when(F.col("Populacao2019")>1000000, 
                            F.lit("População com mais de 1 milhão de habitantes"))
                     .otherwise(F.lit("População com menos de 1 milhão de habitantes"))))

df2.show()

+--------------------+--------------------+----------------+-------------------+-------------------+--------------------+-------------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+--------------------+
|                Nome|        NomeOriginal|CodigoTelefonico|Iso3166P1Alpha2Code|Iso3166P1Alpha3Code|Iso3166P1NumericCode|               Isni|Populacao2010|Populacao2011|Populacao2012|Populacao2013|Populacao2014|Populacao2015|Populacao2016|Populacao2017|Populacao2018|Populacao2019|     PopulacaoStatus|
+--------------------+--------------------+----------------+-------------------+-------------------+--------------------+-------------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+--------------------+
|              Canada|              Canada|               1|                 CA|                CAN|                 124|0000 0001 2238 5050|     34004889|     34339328|     34714222|     35082954|     35437435|     35702908|     36109487|     36545295|     37065178|     37593384|População com mai...|
|               Japan|                日本|              81|                 JP|                JPN|                 392|0000 0001 2364 9740|    128070000|    127833000|    127629000|    127445000|    127276000|    127141000|    126994511|    126785797|    126529100|    126264931|População com mai...|
|              Norway|    Kongeriket Norge|              47|                 NO|                NOR|                 578|0000 0001 2298 9524|      4889252|      4953088|      5018573|      5079623|      5137232|      5188607|      5234519|      5276968|      5311916|      5347896|População com mai...|
|             Ireland|                Eire|             353|                 IE|                IRL|                 372|0000 0001 2359 1198|      4560155|      4580084|      4599533|      4623816|      4657740|      4701957|      4755335|      4807388|      4867316|      4934040|População com mai...|
|             Hungary|        Magyarorszag|              36|                 HU|                HUN|                 348|0000 0001 2254 0380|     10000023|      9971727|      9920362|      9893082|      9866468|      9843028|      9814023|      9787966|      9775564|      9771141|População com mai...|
|               Spain|              Espana|              34|                 ES|                ESP|                 724|0000 0001 2324 3505|     46576897|     46742697|     46773055|     46620045|     46480882|     46444832|     46484062|     46593236|     46797754|     47133521|População com mai...|
|United States of ...|United States of ...|               1|                 US|                USA|                 840|0000 0001 2331 5230|    309321666|    311556874|    313830990|    315993715|    318301008|    320635163|    322941311|    324985539|    326687501|    328239523|População com mai...|
|             Belgium|   Koninkrijk Belgie|              32|                 BE|                BEL|                  56|               null|     10895586|     11038264|     11106932|     11159407|     11209057|     11274196|     11331422|     11375158|     11427054|     11502704|População com mai...|
|          Luxembourg|          Letzebuerg|             352|                 LU|                LUX|                 442|0000 0001 2192 9204|       506953|       518347|       530946|       543360|       556319|       569604|       582014|       596336|       607950|       620001|População com men...|
|             Finland|               Suomi|             358|                 FI|                FIN|                 246|               null|      5363352|      5388272|      5413971|      5438972|      5461512|      5479531|      5495303|      5508214|      5515525|      5521606|População com mai...|
|              Sweden|             Sverige|              46|                 SE|                SWE|                 752|0000 0001 2299 7436|      9378126|      9449213|      9519374|      9600379|      9696110|      9799186|      9923085|     10057698|     10175214|     10278887|População com mai...|
|              Poland|Rzeczpospolita Po...|              48|                 PL|                POL|                 616|0000 0004 0471 0018|     38042794|     38063255|     38063164|     38040196|     38011735|     37986412|     37970087|     37974826|     37974750|     37965475|População com mai...|
|           Lithuania|             Lietuva|             370|                 LT|                LTU|                 440|0000 0001 2364 1220|      3097282|      3028115|      2987773|      2957689|      2932367|      2904910|      2868231|      2828403|      2801543|      2794137|População com mai...|
|               Italy| Repubblica Italiana|              39|                 IT|                ITA|                 380|0000 0001 2186 9395|     59277417|     59379449|     59539717|     60233948|     60789140|     60730582|     60627498|     60536709|     60421760|     60302093|População com mai...|
|         Switzerland|Schweizerische Ei...|              41|                 CH|                CHE|                 756|0000 0001 2297 4701|      7824909|      7912398|      7996861|      8089346|      8188649|      8282396|      8373338|      8451840|      8514329|      8575280|População com mai...|
|             Austria| Republik Osterreich|              43|                 AT|                AUT|                  40|0000 0001 2265 1953|      8363404|      8391643|      8429991|      8479823|      8546356|      8642699|      8736668|      8797566|      8840521|      8879920|População com mai...|
|              Greece|              Ελλάδα|              30|                 GR|                GRC|                 300|0000 0004 0555 2357|     11121341|     11104899|     11045011|     10965211|     10892413|     10820883|     10775971|     10754679|     10732882|     10717169|População com mai...|
|              Turkey| Turkiye Cumhuriyeti|              90|                 TR|                TUR|                 792|0000 0004 0369 9232|     72326988|     73443863|     74653016|     75928564|     77231907|     78529409|     79821724|     81101892|     82319724|     83429615|População com mai...|
|            Portugal|Republica Portuguesa|             351|                 PT|                PRT|                 620|0000 0001 2242 8399|     10573100|     10557560|     10514844|     10457295|     10401062|     10358076|     10325452|     10300300|     10283822|     10286263|População com mai...|
|             Uruguay|             Uruguay|             598|                 UY|                URY|                 858|0000 0001 2238 4648|      3359275|      3368934|      3378974|      3389439|      3400434|      3412009|      3424132|      3436646|      3449299|      3461734|População com mai...|
+--------------------+--------------------+----------------+-------------------+-------------------+--------------------+-------------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+--------------------+
only showing top 20 rows

# 5) Mostre a soma da população no ano de 2017.

In [ ]:
df(F.sum(df.Populacao2017))

TypeError: ignored

In [ ]:
df.agg(F.sum(df.Populacao2017).alias("População mundial no ano de 2017")).show()

+--------------------------------+
|População mundial no ano de 2017|
+--------------------------------+
|                      7448450667|
+--------------------------------+